/* -----------------Dev Only, Delete----------------- */
* {
  box-sizing: border-box;
}
/*
.course {
    border: 3px solid teal;
    margin: 10px 6px;
}

.course > * {
    border: 1px solid orangered;
    margin: 3px;
}
*/
/* -----------------Dev Only, Delete----------------- */

body {
  font-size: $def-font;
}

.App {
  background-color: $primary-color;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  text-align: center;
}

@media Screen and (min-width: 768px) {
  .App {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
