.courses {
	background-color: $section-color;
	border-radius: 0.2rem;
}

.courses__section--header {
	margin: 0.8rem;
	width: $w-full;
	text-align: left;
}

@media Screen and (min-width: 768px) {

	.courses {
		min-height: 30rem;
		width: 65%;
		max-width: 63rem;

		margin: 0;
	}

	.course__playlist--activate-modal {
		font-size: 30px;
	}

	.course {
		border-top: 2px solid $primary-color;

		align-items: center;
		display: flex;
		flex-wrap: wrap;
		padding: 0.8rem;

		width: $w-full;
	}

	.course__credentials {
		width: 90%;
		display: flex;
		margin: 1rem 0 1rem 1rem;
	}

	.course__playlist--activate-modal {
		border: 1px solid transparent;
		height: 8rem;
		background-color: $section-color;
	}

	.course__image {
		/* Dimensions 250 x 140 */
		border-radius: 0.2rem;
		height: 8rem;
		width: 15rem;
	}

	.course__information {
		align-content: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		line-height: 0.5rem;
		margin-left: 1rem;
		text-align: start;
	}

	.course__title {

		width: 98%;
		margin: 0.5rem 0 1rem 0;
		padding: 0;
		font-size: 1rem;
	}

}
