.footer {
  color: $nullified-color;

  height: 2rem;
  width: $w-full;

  text-align: start;
  margin: 1.25rem 0 0 1rem;
  position: static;
}

.footer__owner-info {
  color: $neutral-color;

  margin-left: 0.2rem;
  font-style: italic;
}