.header {
    /* Dimensions */
    border-radius: 0 0 0.2rem 0.2rem;
    width: 100%;

    /* Position */
    margin-bottom: 1.25rem;
}

.header__top {
    /* Color */
    background-color: #333233;
    color: white;

    /* Position */
    padding: 0.7rem 0;
}

.header__title {
    /* Typography */
    font-size: 0.75rem;
    text-transform: uppercase;
}

.header__search-bar {
    /* Color */
    outline: none;

    /* Dimensions */
    border: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;

    /* Typography */
    font-size: 1rem;
}

.header__bottom {
    /* Color */
    background-color: $section-color;
}

@media Screen and (min-width: 1024px) {

    .header__top {
        /* Position */
        align-items: center;
        display: flex;
    }
    
    .header__title {
        /* Position */
        margin: 0 auto 0 0.3rem;
    }
    
    .header__search-bar {
        /* Dimensions */
        width: 18rem;

        /* Position */
        margin-right: 0.2rem;
        padding:  0.2rem 0 0.2rem 0.8rem;
    }
    
    .header__primary-button {
        /* Color */
        outline: none;

        /* Dimensions */
        border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;

        /* Position */
        margin-right: 0.2rem;
        padding: 0.3rem 1.2rem;

        /* Typography */
        font-size: 0.65rem;
    }

    .header__primary-button:hover {
        /* Color */
        background-color: #595C6B;
        color: white;
    }
    
    .header__secondary-button {
        /* Color */
        outline: none;
        
        /* Dimensions */
        border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
        
        /* Position */
        margin-right: 0.2rem;
        padding: 0.3rem 1rem;
        
        /* Typography */
        font-size: 0.65rem;
    }

    .header__secondary-button:hover {
        /* Color */
        background-color: #595C6B;
        color: white;
    }
    .header__bottom {
        /* Position */
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .header__description {
        /* Dimensions */
        width: 20rem;
    
        /* Position */
        align-content: center;
        line-height: 1.2rem;
    }
    
    .header__options {
        /* Position */
        display: flex;
        justify-content: center;
        padding: 0;
        
        /* Typography */
        font-size: 0.8rem;
        list-style: none;
        text-transform: uppercase;
        
    }
    
    .header__options > li {
        /* Dimensions */
        border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
        height: 8rem;
        width: 15rem;
        
        /* Position */
        margin: 0 0.8rem;
        padding: 0.7rem;
    }


}