.header {
	width: $w-full;
	margin: 0;
	margin-bottom: 1.25rem;
  background: linear-gradient(#161d20, #1b2327);
	color: $section-color;
}

.header__top {
	margin: 0;
	align-items: center;
  display: flex;
}

.header__title {
  margin: 1rem auto 1rem 1rem;
	font-size: 0.75rem;
}

.header__searchBar {
	outline: none;

	border: 2px solid transparent;
	border-radius: 2px;
	height: 1.9rem;
	line-height: 1.9rem;
	width: 18rem;

  margin-right: 3rem;
  padding:  0.2rem 0 0.2rem 0.8rem;

	font-size: 1rem;
}

.header__primary-button {
  background-color: transparent;
  border: 2px solid $section-color;
  color: $section-color;

  height: 1.9rem;
  width: 5.6rem;

  margin-right: 1.5rem;
  border-radius: 2px;

  font-size: 0.8rem;
}

.header__secondary-button {
  background-color: #0f7f44;
  border: 2px solid transparent;
  color: $section-color;

  width: 5.6rem;
  height: 1.9rem;

  margin-right: 1.5rem;
  border-radius: 2px;

  font-size: 0.8rem;
}

.header__bottom {
  margin: 0;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
	line-height: 2.2rem;
}

.hero__title {
  width: 90%;

  margin: 3rem 0;
  line-height: 1.5;

  font-size: 2rem;
  font-weight: 500;
}

.hero__subtitle {
  color: $light-grey;

  margin: 1rem 0 3rem 0;
  align-content: center;
}

.header__options {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.header__option {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 1rem;
  width: 10rem;
  height: 10rem;
  position: relative;
}

.header__button-option {
  background-color: transparent;
  border: 2px solid transparent;
  width: $w-full;
  height: 100%;
  border-radius: 3px;
  color: $darkest-grey;
  padding: 5px 10px;
  font-size: 26px;
  font-weight: 500;
  transition: opacity 0.5s;
  z-index: 10;
  opacity: 1;
}

.react-option {
  background: url('https://cdn.lynda.com/courses/625945-636643992857925180_270x480_thumb.jpg');
}
.python-option {
  background: url('https://cdn.lynda.com/courses/661773-636525828714337558_270x480_thumb.jpg');
}
.javascript-option {
  background: url('https://cdn.lynda.com/courses/706928-636695284107370449_270x480_thumb.jpg');
}
.java-option {
  background: url('https://cdn.lynda.com/courses/656822-636474547828279500_270x480_thumb.jpg');
}

.overlay {
  position: absolute;
  height: 100%;
  width: $w-full;
  background-color: rgba(94, 94, 94, 0.5);
  opacity: 1;
  transition: opacity 0.5s;
}

.header__option:hover > .overlay {
  opacity: 0;
}

@media Screen and (min-width: 768px) {
  .header__options {
    font-size: 0.8rem;
  }
}