.modal {
  position: absolute;
  right: 12%;
  bottom: 13%;
  width: 200px;
  height: 200px;
}

.playlist-modal {
  position: absolute;
}

.new-playlist__title {
  font-size: 1rem;
}

@media Screen and (min-width: 1024px) {
  .show-modal {
    background-color: $darkest-grey;
    color: $section-color;

    border-radius: 5px;

    padding: 10px;

    font-size: 15px;
  }

  .hide-modal {
    border: 1px solid teal;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .show-new-playlist-modal {
    background-color: $darkest-grey;
    color: $section-color;

    width: 30vw;
    border-radius: 5px;

    padding: 10px;

    font-size: 15px;
  }

  .hide-new-playlist-modal {
    display: flex;
    flex-direction: column;
    border: 1px solid brown;
  }

  /*
    .show {
      display: block;
    }

    .hide {
      display: none;
    }
    */
}
