@media Screen and (min-width: 1024px) {
  .show-modal {
    background-color: #333233;
    color: white;

    width: 30vw;
    border-radius: 5px;

    left: 20px;
    padding: 10px;
    position: relative;
    top: -20px;

    font-size: 15px;
  }

  .hide-modal {
    border: 1px solid teal;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .show-new-playlist-modal {
    background-color: #333233;
    color: white;

    width: 30vw;
    border-radius: 5px;

    left: 20px;
    padding: 10px;
    position: relative;
    top: -20px;

    font-size: 15px;
  }

  .hide-new-playlist-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid brown;
  }

  /*
    .show {
      display: block;
    }

    .hide {
      display: none;
    }
    */
}
