// Dev only ERASE

.App > * {
    border: 1px solid red;
    margin-bottom: 50px;
}

.courses__credentials {
    display: flex;
    justify-content: space-around;
    background-color: #C3C1C5;
}

.playlist__link--single {
    display: flex;
    // justify-content: center;
    align-items: flex-start;
    // flex-direction: column;
    margin: 20px 0;
}

// Dev only ERASE

@media Screen and (min-width: 1024px) {
    .App {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

