/* -----------------Dev Only, Delete----------------- */
* {
    box-sizing: border-box;
}

.App > * {
    border: 1px solid blue;
    box-sizing: border-box;
}
    
.header > * {
    border: 1px solid salmon;
    margin: 3px;
} 

.header__bottom > * {
    border: 1px solid green;
    margin: 3px;
}

.course {
    border: 3px solid teal;
    margin: 10px 6px;


.course > * {
    border: 1px solid orangered;
    margin: 3px;


  /* -----------------Dev Only, Delete----------------- */

@media Screen and (min-width: 1024px) {
    .App {

        /* Dimensions */
        width: 100%;
        
        /* Position */
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        /* Typography */
        font-family: sans-serif;
        font-size: $default-font-size;
        text-align: center;
    }
}

