@media Screen and (min-width: 1024px) {
    .show-modal {
        // color: black;
        position: relative;
        background-color: #333233;
        color: white;
        width: 30vw;
        border-radius: 5px;
        padding: 10px;
        font-size: 15px;
        top: -20px;
        left: 20px;
    }

    .hide-modal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        border: 1px solid teal;
    }

    .show-new-playlist-modal {
        position: relative;
        background-color: #333233;
        color: white;
        width: 30vw;
        border-radius: 5px;
        padding: 10px;
        font-size: 15px;
        top: -20px;
        left: 20px;
    }
    .hide-new-playlist-modal {
        position: relative;
        display: flex;
        flex-direction: column;
        border: 1px solid brown;
    }

    /*
        .show {
        display: block;
    }

    .hide {
        display: none;
    }
    */
}
