/* -----------------Dev Only, Delete----------------- */
* {
  box-sizing: border-box; }

/*
.course {
    border: 3px solid teal;
    margin: 10px 6px;
}

.course > * {
    border: 1px solid orangered;
    margin: 3px;
}
*/
/* -----------------Dev Only, Delete----------------- */
body {
  font-size: 16px; }

.App {
  background-color: #E5E5E5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: sans-serif;
  text-align: center; }

@media Screen and (min-width: 768px) {
  .App {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; } }
.course {
  position: relative; }

.courses {
  background-color: #F2F5F8;
  border-radius: 0.2rem; }

.courses__section--header {
  margin: 0.8rem;
  width: 100%;
  text-align: left; }

@media Screen and (min-width: 768px) {
  .courses {
    min-height: 30rem;
    width: 65%;
    max-width: 63rem;
    margin: 0; }

  .course__playlist--activate-modal {
    font-size: 30px; }

  .course {
    border-top: 2px solid #E5E5E5;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem;
    width: 100%; }

  .course__credentials {
    width: 90%;
    display: flex;
    margin: 1rem 0 1rem 1rem; }

  .course__playlist--activate-modal {
    border: 1px solid transparent;
    height: 8rem;
    background-color: #F2F5F8; }

  .course__image {
    /* Dimensions 250 x 140 */
    border-radius: 0.2rem;
    height: 8rem;
    width: 15rem; }

  .course__information {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 0.5rem;
    margin-left: 1rem;
    text-align: start; }

  .course__title {
    width: 98%;
    margin: 0.5rem 0 1rem 0;
    padding: 0;
    font-size: 1rem; } }
.footer {
  color: #464646;
  height: 2rem;
  width: 100%;
  text-align: start;
  margin: 1.25rem 0 0 1rem;
  position: static; }

.footer__owner-info {
  color: #666;
  margin-left: 0.2rem;
  font-style: italic; }

.header {
  width: 100%;
  margin: 0;
  margin-bottom: 1.25rem;
  background: linear-gradient(#161d20, #1b2327);
  color: #F2F5F8; }

.header__top {
  margin: 0;
  align-items: center;
  display: flex; }

.header__title {
  margin: 1rem auto 1rem 1rem;
  font-size: 0.75rem; }

.header__searchBar {
  outline: none;
  border: 2px solid transparent;
  border-radius: 2px;
  height: 1.9rem;
  line-height: 1.9rem;
  width: 18rem;
  margin-right: 3rem;
  padding: 0.2rem 0 0.2rem 0.8rem;
  font-size: 1rem; }

.header__primary-button {
  background-color: transparent;
  border: 2px solid #F2F5F8;
  color: #F2F5F8;
  height: 1.9rem;
  width: 5.6rem;
  margin-right: 1.5rem;
  border-radius: 2px;
  font-size: 0.8rem; }

.header__secondary-button {
  background-color: #0f7f44;
  border: 2px solid transparent;
  color: #F2F5F8;
  width: 5.6rem;
  height: 1.9rem;
  margin-right: 1.5rem;
  border-radius: 2px;
  font-size: 0.8rem; }

.header__bottom {
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.2rem; }

.hero__title {
  width: 90%;
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 500; }

.hero__subtitle {
  color: #C7C5C5;
  margin: 1rem 0 3rem 0;
  align-content: center; }

.header__options {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  text-transform: uppercase; }

.header__option {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 1rem;
  width: 10rem;
  height: 10rem;
  position: relative; }

.header__button-option {
  background-color: transparent;
  border: 2px solid transparent;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  color: #213239;
  padding: 5px 10px;
  font-size: 26px;
  font-weight: 500;
  transition: opacity 0.5s;
  z-index: 10;
  opacity: 1; }

.react-option {
  background: url("https://cdn.lynda.com/courses/625945-636643992857925180_270x480_thumb.jpg"); }

.python-option {
  background: url("https://cdn.lynda.com/courses/661773-636525828714337558_270x480_thumb.jpg"); }

.javascript-option {
  background: url("https://cdn.lynda.com/courses/706928-636695284107370449_270x480_thumb.jpg"); }

.java-option {
  background: url("https://cdn.lynda.com/courses/656822-636474547828279500_270x480_thumb.jpg"); }

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 94, 94, 0.5);
  opacity: 1;
  transition: opacity 0.5s; }

.header__option:hover > .overlay {
  opacity: 0; }

@media Screen and (min-width: 768px) {
  .header__options {
    font-size: 0.8rem; } }
.playlist {
  background-color: #F2F5F8;
  border-radius: 0.2rem; }

@media Screen and (min-width: 768px) {
  .playlist {
    min-height: 30rem;
    width: 30%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1rem; }

  .playlist__section--header {
    margin: 0 1rem; }

  .playlist__section--header-container {
    height: 3rem;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5; }

  .playlist__section--all-playlist-link {
    color: #464646;
    text-decoration: none;
    margin: 0 1rem; }

  .playlist__legend--middle-section {
    height: 6rem;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center; }

  .playlist__legend-text {
    width: 90%;
    line-height: 1.5; }

  .playlist__content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0; }

  .playlist__list {
    list-style: none;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; }

  .playlist__link--single {
    text-decoration: none;
    color: #464646;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%; }

  .playlist__image {
    height: 4.5rem;
    width: 7rem;
    border-radius: 0.4rem; }

  .playlist__information {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%; }

  .playlist__information > * {
    width: 100%;
    text-align: start; }

  .playlist__header {
    font-weight: 700; } }
.modal {
  position: absolute;
  right: 12%;
  bottom: 13%;
  width: 200px;
  height: 200px; }

.playlist-modal {
  position: absolute; }

.new-playlist__title {
  font-size: 1rem; }

@media Screen and (min-width: 1024px) {
  .show-modal {
    background-color: #213239;
    color: #F2F5F8;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px; }

  .hide-modal {
    border: 1px solid teal;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .show-new-playlist-modal {
    background-color: #213239;
    color: #F2F5F8;
    width: 30vw;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px; }

  .hide-new-playlist-modal {
    display: flex;
    flex-direction: column;
    border: 1px solid brown; }

  /*
    .show {
      display: block;
    }

    .hide {
      display: none;
    }
    */ }

/*# sourceMappingURL=main.css.map */
